@import url('https://fonts.googleapis.com/css?family=Secular+One');

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Secular One';
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}